{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<h1 style="text-align:center; color:white; background-color:skyblue;">{% block title %}Time_Line_Site{% endblock%}</h1>
    {% for tweet in tweet_list %}
            <div class="row">
                <div class="col">
                    <div class="cardbody"style="margin-left: 0.5em;">
                    <div class="card-title"><strong>@{{tweet.name}}</strong></span>
                        <span>{{tweet.created_at}}</span>
                        <div style="float: right"><a href="{% url 'app:post-delete' tweet.pk %}">delete</a></div>
                        <div class= "card-text" style="margin-left: 1em;" ><h5>{{ tweet.tweet|linebreaksbr }}</h5></div> 

                        </div>

                        <div class="border-bottom"></div>
                    </div>
                    </div>
                </div>

    {% endfor %}
{% endblock%}

